body {
	background-color:rgba(10,100,100,0.66);
    padding:0px;
    margin:0px;
    overflow:hidden;
	  height: 1000px;
}
canvas {
    padding:10px;
    margin:0;
}
div.btnbg {
    position:fixed;
    left:0;
    top:0;
    box-shadow: 0px 0px 15px #cff;
}
div.btn{
    position: relative;
    padding-left: 100px;
    padding-top: 30px;
    box-shadow: 2px 5px 10px #ccc;
    box-sizing: 10px 20px;
}
div.btnbg:hover{
    text-shadow: 0px 0px 3px #ccc;
    box-shadow: 10px 0px 20px #ff0;
}